%h2 Order Items

%ul
  - @order.items.includes(:product, :ingredients).each do |item|
    %li
      
      = item.product.name.humanize

      = remove_item_action @order,item
      
      = apply_discount_action @order, item
      
      %ul
        - item.ingredients.each do |ingredient|
          %li
            = ingredient.display
      
%h3
  Order Total:

  = @order.total


- if @order.complete == false
  - @products.each do |product|
    = link_to "Add #{product.name}", new_order_item_path(@order, product_id: product.id)

  %br
  %br

  - if @order.items.length > 0


    = link_to "Complete Order", checkout_order_path(@order)

    %br

    %br

= link_to 'Back', orders_path